<html>
    <head>
        <title></title>
<link href='https://unpkg.com/boxicons@2.0.2/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <h2>COULEURS</h2>
<table style="width:100%">
  <tr>
    <td class="primary">primary[Azur]<br>#007FFF</td>
    <td class="secondary">secondary[Vermilion red]<br> #DB1702</td>
    <td class="dark">dark[darkgray]<br>#A9A9A9</td>
    <td class="medium-light">medium-light[Lightblue]<br>#90ee90</td>
    <td class="light">light[Light-green]<br>#ADD8E6</td>
  </tr>  
</table>
<h2>BOUTTONS</h2>
<table>
  <tr>
  	<td><button type="button" class="btn btn-primary btn-lg">Primary</button></td>
    <td><button type="button" class="btn btn-warning btn-lg">Warning</button></td>
   <td><button type="button" class="btn btn-danger btn-lg">Danger</button></td>
    <td><button type="button" class="btn btn-success btn-lg">Success</button></td>
    <td><button type="button" class="btn btn-info btn-lg">Info</button></td>
  </tr>  
</table>
<h2>LA TYPOGRAPHIE</h2>
<table style="border:1px solid blue;">
 <tr>
    <td style="border:1px solid #DB1702;"><h1>Titre H1</h1>font-family:Arial</td>
    <td style="border:1px solid #DB1702;"><h2>Titre H2</h2>font-family:Arial</td>
    <td style="border:1px solid #DB1702;"><h3>Titre H3</h3>font-family:Arial</td>
     <td style="border:1px solid #DB1702;"><h4>Titre H4</h4>font-family:Arial</td>
    <td style="border:1px solid #DB1702;"><h5>Titre H5</h5>font-family:Arial</td>
    <td style="border:1px solid #DB1702;"><h6>Titre H6</h6>font-family:Arial</td>
  </tr>
 </table>
 <br>
 <table style="border:1px solid blue;">
 <tr>
    <td style="border:1px solid #90ee90;"><strong><p>Paragraphes</p></strong><p>font-family:Times New Roman</p></td>
    <td style="border:1px solid #90ee90;"><strong><p>Lead</p></strong><p>font-family:Times New Roman</p></td>
    <td style="border:1px solid #90ee90;"><strong><p>blockquote</p></strong><p>font-family:Times New Roman</p></td>
    <td style="border:1px solid #90ee90;"><strong><p>[ul],[ol],[li]</p></strong><p>font-family:Times New Roman</p></td>
  </tr>
 </table>
 <h2>ICONOGRAPHIES</h2>
 <table style="width:5%">
 	<tr>
		<td><i class='bx bx-hot'></i></td>
		<td><i class='bx bxs-institution' ></i></td>
		<td><i class='bx bxs-school'></i></td>
	</tr>
</table>
<h2>FORMES</h2>
<table style="width:5%">
 	<tr>
		<td><input type="text" placeholder="input classique"></td>
		<td>
			<select name="school">
				<option value="school">School</option>
				<option value="institution">Institution</option>	  
			</select> 
		</td>
		<td> 
			<textarea  name="message" rows="05" cols="">
			Textarea
			</textarea>
		</td>
		<td><input type="radio"></td>
		<td><input type="checkbox"></td>
	</tr>
</table>
<h2>LISTES</h2>
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">School</li>
    <li class="list-group-item">Institution</li>
  </ul>
</div>
<h2>CARTES</h2>
<table>
	<tr>
		<td>
			<div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="college2.jpg" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Card title</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
		</td>
		<td></td>
	</tr>
</table>
 </body>
</html>